.overlay {
  position: fixed;
  left: 0;
  top: 40;
  height: 100%;
  width: 100%;
  z-index: 4;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
  background-color: rgba(255, 255, 255, 0.60);
  opacity: 0.7;
}

.loader, .loading-text {
  position: absolute;
  margin: auto;
  height: 60px;
  left: 0;
  right: 0;
  top: 30%;
  width: 60px;
  text-align: center;
  z-index: 5;
}

.loading-text {
  margin: -30px auto;
  font-size: 20px;
  left: -8px;
}

.loader > div {
  background-color: #3c3b3b;
  height: 100%;
  width: 7px;
  margin: 0 3px 0 0;
  display: inline-block;
  animation: stretch-delay 1.2s infinite ease-in-out;
}

.loader .rect2 {
  animation-delay: -1.1s;
}

.loader .rect3 {
  animation-delay: -1.0s;
}

.loader .rect4 {
  animation-delay: -0.9s;
}

.loader .rect5 {
  animation-delay: -0.8s;
}

@keyframes stretch-delay {
  0%, 40%, 100% { 
    transform: scaleY(0.5);
  }  20% { 
    transform: scaleY(1.0);
  }
}