.box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 220px)); /* autoprefixer: off */
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  margin: 40px;
  justify-content: center;
  box-sizing: border-box;
}
