<app-loader *ngIf="isLoading"></app-loader>
<app-book-search (handleSearch)="updateList()"></app-book-search>
<app-pagination *ngIf="this.booksService.totalItemsNumber" (handlePageChange)="updateList()" (page)="page"></app-pagination>
<div *ngIf="books | async">
  <div class="box">
    <div *ngFor="let book of books | async">
        <app-book
          [id]="book.id"
          [etag]="book.etag"
          [title]="book.title"
          [authors]="book.authors"
          [cover]="book.cover"
        ></app-book>
    </div>
  </div>
</div>
