.book-box {
  text-align: center;
  background-color: #f5f4f4;
  box-shadow: 0px 1px 3px #888888;
}

.info-box {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: #3c3b3b;
  height: 150px;
}

.cover {
  height: 300px;
  width: 220px;
  padding: 10px;
}
.title {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  align-items: center;
  padding: 0px 8px;
}

.author {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  color: #fff;
  padding: 5px;
  line-height: 1.2;
}
