<div class="book-box">
  <img src="{{cover}}" alt="Cover of {{title}}" class="cover"/>
  <div class="info-box">
    <div *ngIf="authors" class="author">{{authors.join(', ')}}</div>
    <div class="title">{{title}}</div>
  </div>
</div>