<div>totalItemsNumber: {{booksService.totalItemsNumber}}</div>
<div>Total pages: {{this.pageStatus.totalPages}}</div>

<ngb-pagination
  class="pagination-container"
  [collectionSize]="pageStatus.totalItems"
  [(page)]="pageStatus.currentPage"
  (pageChange)="onPageChange($event)"
  [maxSize]="5"
  [rotate]="true"
  [ellipses]="false"
  [boundaryLinks]="true">
</ngb-pagination>

<ul class="pagination pagination-container">
  <li class="page-item" [ngClass]="{active:pageStatus.currentPage === 1}" (click)="onPageChange()">
    <a class="page-link" routerLink="/books/{{1}}" queryParamsHandling="preserve">1</a>
  </li>
  <li *ngIf="isControlLeftArrow" class="page-item" (click)="onPageChange()">
    <a class="page-link" routerLink="/books/{{pageStatus.currentPage - 1}}" queryParamsHandling="preserve">
      &lt;
    </a>
  </li>
  <li
    *ngFor="let page of pageStatus.visiblePages"
    class="page-item"
    (click)="onPageChange()"
    [ngClass]="{active:pageStatus.currentPage === page}"
  >
      <a class="page-link" routerLink="/books/{{page}}" queryParamsHandling="preserve">{{page}}</a>
  </li>
  <li *ngIf="isControlRightArrow" class="page-item" (click)="onPageChange()">
    <a class="page-link" queryParamsHandling="preserve">
      &gt;
    </a>
  </li>
  <li class="page-item" [ngClass]="{active:pageStatus.currentPage === pageStatus.lastPage}" (click)="onPageChange()">
    <a class="page-link" routerLink="/books/{{pageStatus.lastPage}}" queryParamsHandling="preserve">
      {{pageStatus.lastPage}}
    </a>
  </li>
</ul>
