<div class="d-flex align-items-center justify-content-left">
  <form (ngSubmit)="onSubmit(e)" [formGroup]="searchForm">
    <div class="row justify-content-left">
      <div class="col-sm-3 form-group">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="intitle"
          class="form-control"
          placeholder="Search by title"
          formControlName="intitle"
          [ngClass]="{'is-invalid': searchForm.errors?.isFieldEmpty && submitted}"
        >
      </div>
      <div class="col-sm-3 form-group">
        <label for="author">Author</label>
        <input
          type="text"
          id="author"
          name="inauthor"
          class="form-control"
          placeholder="Search by author"
          formControlName="inauthor"
          [ngClass]="{'is-invalid': searchForm.errors?.isFieldEmpty && submitted}"
        >
      </div>
      <div class="col-sm-3 form-group">
        <label for="language">Language</label>
        <input
          type="text"
          id="language"
          name="language"
          class="form-control"
          placeholder="Search by language"
          formControlName="bookLanguage"
        >
      </div>
      <button type="submit" class="submit-form-button btn btn-primary">Submit</button>
    </div>
    <p *ngIf="searchForm.errors?.isFieldEmpty && submitted">
      At least title or author has to be provided.
    </p>
  </form>
</div>